.btn-menu, .btn-menus{
    height: 33px;
    font-weight: 500;
    background-color: white;
    font-size: 1.1rem;
    border-radius: 6px;
    font-family: 'Glory', sans-serif;
    width: 80px;
    /* display: flex; */
    cursor: pointer;
}
.btn-menu{
    margin: 0.2rem 0 2rem 2rem;
    border: 1px solid rgb(241, 201, 116);
    color: #194416;
}
.btn-menu:hover{
    background-color: rgb(241, 201, 116); 
}
.btn-menus{
    margin: 0.2rem -1rem 2rem;
    border: 1px solid #194416;
    color: rgb(241, 201, 116);
}
.btn-menus:hover{
    background-color: #194416; 
}
@media (max-width: 1240px){
    .btn-menu{
        margin: 0 0 2rem 0rem;
    }
    .btn-menus{
        margin: 0 1rem 2rem 0;
    }
}
@media all and (max-width: 1080px){
    .btn-menu{
        margin: 0 1rem 2rem 0rem;
    }
    .btn-menus{
        margin: 0 1rem 2rem 0;
    }
}
@media(max-width: 960px){
    .btn-menu, .btn-menus{
        display: none;
    }
}
