body{
    margin: 0;
    padding: 0;
}
.footer {
  position: inherit;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(241, 201, 116);
  text-align: center;
}

.social-media {
    width: 100%;
    text-align: center;
}
.social-media > p {
    display: inline-block;
    font-size: 1.3rem;
    margin: 0.5rem 2rem;
}
@media all and (max-width: 760px){
    .social-media > p {
        font-size: 1.2rem;
        margin: 0.5rem;
    }
}
@media all and (max-width: 560px){
    .footer{
        margin-top: 10rem;
    }
    
}
@media all and (max-width: 360px){
    .social-media > p {
        font-size: 1rem;
        margin: 0.5rem 0.8rem;

    }
}