body{
    margin: 0;
    padding: 0;
}
.footer {
    height: 2rem;
    position: relative;
    bottom: 0;
    margin: 22rem 0 1rem;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid #194416; */
}
.footer > hr {
    align-items: center;
    width: 96%;
    margin-bottom: 0.5rem;
}
.social-media {
    width: 100%;
    text-align: center;
}
.social-media > p {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0rem 2rem 1rem;
}
@media all and (max-width : 1180px ){
    .footer {
        margin-top: 10rem;
    }
}