body{
    margin: 0;
    padding: 0;
}
.footer {
  position: inherit;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(241, 201, 116);
  text-align: center;

    /* height: 2rem;
    position: relative;
    bottom: 0;
    margin: 22rem 0 1rem;
    justify-content: center;
    align-items: center; */
    /* border-top: 1px solid #194416; */
}

.social-media {
    width: 100%;
    text-align: center;
}
.social-media > p {
    display: inline-block;
    font-size: 1.3rem;
    margin: 0.5rem 2rem;
}
@media all and (max-width : 1180px ){
    .footer {
        margin-top: 16rem;
    }
}
@media all and (max-width: 760px){
    .footer{
        margin-bottom: -10rem;
    }
    .social-media > p {
        font-size: 1.2rem;
    }
}
@media all and (max-width: 560px){
    .footer{
        margin-top: 37rem;
    }
    
}
@media all and (max-width: 360px){
    .footer{
        margin-top: 20rem;
    }
    .social-media > p {
        font-size: 1rem;
        margin: 0rem 0.8rem 1rem;

    }
}