.product-body {
    margin: 7rem 13rem;
    height: 100vh;
}
.product {
    height: 100vh;
    margin: 1rem 1.5rem 2rem;
    width: 60vw;
    height: 30rem;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    border: 1px solid #194416;
    border-radius: 20px;
}
.product > h3{ 
    font-size: 2rem;
    font-weight: 700;
}

.product > h4 {
    font-size: 1.6rem;
    color: #194416;
    font-weight: 700;

}
.product > p {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
button{
    width: 15rem;
    height: 3rem;
    border: 1px solid rgb(241, 201, 116);
    color: #194416;
    background: transparent;
    border-radius: 10px;
    margin: 2rem 16rem 1rem;
}
button:hover {
    background: rgb(241, 201, 116);
}
button > h4{
    font-size: 1.4rem;
}
.product:hover {
    border: 1px solid rgb(241, 201, 116);
}