.contain{
  display: block;
  width: 100vw;
  height: 30rem;
  margin-bottom: 6rem;
}
.container-slider {
  width: 60vw;
  height: 28rem;
  margin: 0 2rem 2rem 0.1rem;
  overflow: hidden;
  display: flex;
  float: left;
}
.slide {
  width: 60vw;
  height: 25rem;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide > img {
  margin-bottom: 15rem;
  width: 100%;
  height: 25rem;
  border-radius: 20px;
  object-fit: cover;
  z-index: 0;
}
.active-anim {
  opacity: 1;
}
.btn-slide {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background:  rgb(241, 201, 116);
  border: 1px solid  rgb(241, 201, 116);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 50;
}
.btn-slide img {
  width: 30px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 84rem;
  left: 1.5rem;
  transform: translateY(-60%);
}
.next {
  top: 84rem;
  right: 35rem;
  transform: translateY(-60%);
}
.container-dots {
  position: absolute;
  top: 85rem;
  left: 30%;
  transform: translateX(-50%);
  display: flex;
  z-index: 20;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #194416;
  margin: 1rem 5px;
  background: #194416;
}
.dot.active {
  background: white;
}
.title{
  width: 30%;
  float: right;
  text-align: center;
  margin: 2rem 2rem 0rem;
}
.title > h1 {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 1rem;
  text-transform: capitalize;
  text-align: center;
}
.title > a{
  text-decoration: none;
}
.title > a > p {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: #194416;
}
.title > a > P:hover {
  color: rgb(241, 201, 116);
}
.service{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
}
.service > h2{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  color: #194416;
  border-bottom: 4px solid rgb(241, 201, 116);
  padding: 1rem 1rem 0.5rem;
}
.service > p {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 1rem;
  margin-left: 1rem;
}
@media all and (max-width: 2000px){
  .next {
    right: 49rem;
  }
}
@media all and (max-width: 1700px){
  .next {
    right: 43rem;
  }
}@media all and (max-width: 1400px){
  .next {
    right: 35rem;
  }
}
@media all and (max-width: 1180px){
  .container-slider {
    height: 26rem;
    margin: 3rem auto 3rem;
  }
  .slide {
    height: 23rem;
  }
  .slide > img {
    height: 23rem;
  }
  .prev {
      top: 84.5rem;
      left: 2%;
      transform: translateY(-60%);
    }
    .next {
      top: 84.5rem;
      right: 42%;
      transform: translateY(-60%);
    }
    .container-dots {
      top: 84.5rem;
    }
    .dot {
      width: 15px;
      height: 15px;
    }
 
  .title > h1 {
    font-size: 3rem;
    margin-left: -3.5rem;
    padding: 2rem 1rem;
  }
  .title > a > p{
    font-size: 1.3rem;
  }
  .service > h2{
    font-size: 2.3rem;
    text-align: center;
    font-weight: 800;
    color: #194416;
    padding: 1rem 1rem 0.5rem;
  }
    .service > p {
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0 1rem;
    }
}
@media all and (max-width: 1080px){
  .container-slider {
    height: 24rem;
  }
  .slide {
    height: 21rem;
  }
  .slide > img {
    height: 21rem;
  }
  .prev {
    top: 80.5rem;
  }
  .next {
    top: 80.5rem;
  }
  .container-dots {
    top: 81rem;
  }
  .title > h1, .title > a > p, .service{
    margin-left: -3.5rem;
  }
}
@media all and (max-width: 960px){
    .btn-slide{
      width: 35px;
      height: 30px;
    }
    .btn-slide img {
      width: 28px;
      height: 23px;
    }
      .prev {
        top: 75rem;
      }
      .next {
        top: 75rem;
      }
      .container-dots {
        top: 75rem;
      }
      .dot {
        width: 12px;
        height: 12px;
      }
    .title{
      width: 29%;
      margin-top: 2rem;
  
    }
    .title > h1 {
      font-size: 2.5rem;
      padding: 2rem 1rem;
      text-align: center;
    }
    .title > a > p{
      font-size: 1.1rem;
    }
    .service > h2{
      font-size: 2.2rem;
    }
    .service > p {
      font-size: 1.4rem;
    }
}
@media all and (max-width: 750px){
  .contain {
      display: block;
      height: 38rem;
      width: 100%;
  }
  .container-slider {
      margin: 1rem 10px 0;
    }
    .slide{
      width: 100vw;
    }
    .slide img {
      width: 100%;
      height: 22rem;
      border-radius: 0;
      margin-left: -1rem;
      margin-right: 0;
    }  
    .btn-slide img {
      width: 25px;
      height: 20px;
    }
      .prev {
        top: 80rem;
        left: 1rem;
      }
      .next {
        top: 80rem;
        right: 1rem;
      }
      .container-dots {
        position: absolute;
        top: 80rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }
      .dot {
        width: 15px;
        height: 15px;
      }
    .title{
      height: auto;
      text-align: center;
      align-items: center;
      position: absolute;
      top: 83rem;
      z-index: 10;
      float: none;
      width: 100%;
    }
    .title > h1 {
      font-size: 2.6rem;
      text-align: center;
      margin-left: -3rem;
      padding: 0 1rem;
    }
    .title > a > p{
      font-size: 1.2rem;
    }
    .service > h2{
      font-size: 2rem;
      padding: 1rem;
    }
    .service > p {
      font-size: 1.5rem;
    }
  }
  @media all and (max-width: 680px){
    .title{
      top: 82rem;
  
    }
  }
  @media all and (max-width:650px){
    .prev {
      top: 78rem;
    }
    .next {
      top: 78rem;
    }
    .container-dots {
      top: 77.5rem;
    }
  .title{
    top: 79rem;
  }
  }
  @media all and (max-width: 630px){
    .prev {
      top: 76rem;
    }
    .next {
      top: 76rem;
    }
    .container-dots {
      top: 76.5rem;
    }
  .title{
    top: 78rem;
  }
}
@media all and (max-width:600px){
  .container-slider{
      width: 100vw;
      margin: 2rem 0 0 0;
  }
  .slide {
      width: 100vw;
      max-height: 20rem;
      position: absolute;
      opacity: 0;
      transition: opacity ease-in-out 0.4s;
    }
    .slide > img {
      width: 100%;
      height: 20rem;
      border-radius: 0;
      z-index: 0;
    }
    .active-anim {
      opacity: 1;
    }
         
    .btn-slide img {
      width: 25px;
      height: 25px;
    }
    .prev {
      top: 77rem;
      left: 1rem;
    }
    .next {
      top: 77rem;
      right: 1rem;
    }
  .container-dots {
    display: none;
    }
  .title{
    top: 78rem;

  }
  .title > h1 {
    font-size: 2.4rem;
  }
}
@media all and (max-width: 580px){
  .prev {
    top: 72rem;
  }
  .next {
    top: 72rem;
  }
  .title{
    top: 74rem;

  }
}
/* @media all and (max-width: 560px){
  .title{
    top: 77rem;

  }
} */
@media all and (max-width: 540px){
  .prev {
    top: 71rem;
  }
  .next {
    top: 71rem;
  }
  .title{
    top: 72rem;

  }
}@media all and (max-width: 500px){
  .prev {
    top: 70rem;
  }
  .next {
    top: 70rem;
  }
  .title{
    top: 71rem;
  }
  .title > h1 {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 480px){
  .prev {
    top: 69rem;
  }
  .next {
    top: 69rem;
  }
  .title{
    top: 70rem;
  }
   .title > h1 {
    font-size: 2.3rem;
  } 
}
@media all and (max-width: 440px){
  .prev {
    top: 66rem;
  }
  .next {
    top: 66rem;
  }
  .title{
    top: 67rem;
  }
}
@media all and (max-width: 400px){
  .prev {
    top: 66rem;
  }
  .next {
    top: 66rem;
  }
  .title{
    top: 67rem;
  }
  .title > h1 {
    font-size: 2.2rem;
  }
  .title > a > p{
    font-size: 0.9rem;
  }
  .service > h2{
    font-size: 1.7rem;
    padding: 1rem;
  }
  .service > p {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 365px){
  .container {
      height: 20rem;
  }
  .container-slider{
      margin: 1rem 0 0 0;
  }
  .slide {
      height: 16rem;
    }
    .slide img {
      height: 16rem;
    }       
    .btn-slide {
      width: 28px;
      height: 28px;
    }   
    .btn-slide img {
      width: 16px;
      height: 16px;
    }
    .prev {
      top: 59rem;
      left: 1.1rem;
    }
    .next {
      top: 59rem;
      right: 1.8rem;
    }
  .container-dots {
      display: flex;
      top: 59rem;
      left: 50%;
  }
    .dot {
      width: 8px;
      height: 8px;
  }
  .title{
      top: 60rem;
      width: 90%;
  }
    .title > h1 {
      font-size: 2rem;
      padding: 0 1rem 0;
  }
  .title > a > p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  .service{
    margin-left: -1.5rem;
  }
}
@media all and (max-width: 340px){
  .prev {
    top: 55rem;
    left: 0.5rem;
  }
  .next {
    top: 55rem;
    right: 1.5rem;
  }
  .container-dots {
    display: flex;
    top: 55rem;
    left: 45%;
  }
  .title{
    top: 56rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .title > h1 {
    font-size: 1.8rem;
}
.title > a > p {
  font-size: 1.1rem;
  /* margin-left: -0.5rem; */
}
} 
@media all and (max-width: 320px){
  .contain {
      height: 18rem;
  }
  .slide {
      height: 14rem;
      width: 100%;
  }
  .slide img {
      height: 14rem;
      width: 100%;
  }
  .btn-slide {
      width: 30px;
      height: 20px;
  }
    .btn-slide img {
        width: 15px;
        height: 15px;
    }
    .prev {
      top: 54rem;
      left: 0.5rem;
    }
    .next {
      top: 54rem;
      right: 1.5rem;
    }
  .container-dots {
      display: flex;
      top: 54rem;
      left: 45%;
    }
    .dot {
      width: 5px;
      height: 5px;
    }
  .title{
      top: 55rem;
      width: 100%;
    }
    .title h1 {
      font-size: 1.5rem;
      padding: 0;
    }
    .title > a > p {
      margin-left: -2rem;
    }
    .service {
      margin-left: -3rem;
      margin-top: -1rem;

    }
    .service > h2 {
      font-size: 1.8rem;
    }

}